.top_bar {
    background-color: #0091ff;
    color: white;
    padding: 10px;
    height: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.title {
    font-size: 30px;
    font-family: calibri;
    font-weight: bold;
    vertical-align: middle;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.half-width {
    width: 50%;
}