<div class="content-container">
    <div class="outer_div">
        <div class="inner_div">
            <h1 class="title">Purpose of the demonstrator</h1>
            <p class="text">
                This demonstrator will help users detect which object is present in an image. The user can upload an
                image
                and the system will run this image
                trough a pre-trained model. The model will then return the object that is present in the image.
                Supported
                objects are: CombWrench, Wrench, Hammer, and Screwdriver.
            </p>
        </div>
        <div class="img-container">
            <img src="assets/images/Hammer.png" alt="Hammer">
            <img src="assets/images/Screwdriver.png" alt="Screwdriver">
            <img src="assets/images/Wrench.png" alt="Wrench">
            <img src="assets/images/CombWrench.png" alt="CombWrench">
        </div>
    </div>
</div>