.content-container {
    margin: 10px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 20px;
    font-family: calibri;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.text {
    font-size: 17px;
    font-family: calibri;
    color: #000000;
    width: auto;
    text-align: center;
}

.outer_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.inner_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.toolIcon {
    width: 150px;
    height: 150px;
    margin: 10px;
}