.container {
    text-align: center;
    padding: 20px;
}

.container h1,
.container h2 {
    margin: 20px 0;
    font-family: calibri;
    font-weight: bold;
    color: #ffffff;
}

.container p {
    margin: 10px 0;
    font-family: calibri;
    font-weight: bold;
    color: #ffffff;
}

.container img {
    margin-top: 20px;
    max-width: 100%;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #0091ff;
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    font-family: calibri;
}

.custom-file-upload:hover {
    background-color: darkblue;
}

.custom-file-upload input[type='file'] {
    display: none;
}

.resultstat {
    margin: 20px;
    background-color: #0091ff;
    border-radius: 10px;
    padding: 10px;
}

#resultdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}